{% extends 'admin_base_site.html'%}
{% block title%}view user password{% endblock %}


{% block content %}
{% load static %}
{% load widget_tweaks %}
<br><br>    
<div class="container col-sm-8" style="margin-left:5%;">
        
        {% if not total_users%}
            <div class="col-sm-8" style="margin-left:5%;">
                <h3>There is no user</h3>
            </div>
        {% else %}
            <table class="table table-light" >
                <thead>
                    <tr>
                        <th style="width: 5%;"><strong>#</strong></th>
                        <th style="width: 20%;"><strong>Username</strong></th>
                        <th style="width: 40%;"><strong>Name</strong></th>
                        <th style="width: 20%;"><strong>Category</strong></th>
                        <th style="width: 15%;"><strong>Password</strong></th>
                    
                    </tr>
                </thead>
                {% for number, username, name, category, password in total_users %}
                   
                    <tr>
                        <td style="width: 5%;">{{number}}</td>
                        <td style="width: 20%;">{{username}}</td>
                        <td style="width: 40%;">{{name}}</td>
                        <td style="width: 20%;">{{category}}</td>
                        <td style="width: 15%;" >{{password}}</td>
                    </tr>
                         
                
                {% endfor %}
            </table>

        {% endif %}
        
    </div>


{% endblock %}

   