
{% load static %}
{% if not problem %}
        <h3>There is no problem</h3>
{% else %}

    <table class="table table-striped" >
        <thead class="table-info">
            <tr>
                <th ><strong>title</strong></th>
                <td ><strong>time limit(sec)</strong></td>
                <td ><strong>point</strong></td>
                <td ><strong>pdf</strong></td>
            </tr>
        </thead>
        {% for i in problem %}
            <tr>
                <td >{{i.title}}</td>
                <td >{{i.time_limit}}</td>
                <td >{{i.point}}</td>
                <td > <a href="{{i.pdf.url}}" style="margin-right:20px;" target="_blank" title="pdf"> <img src="{% static 'Images/icons/problem.png' %}" height="20" width="20"></a></td>

            </tr>
        {% endfor %}
    </table>
{% endif %}