{% extends 'admin_base_site.html'%}

{% block title%} Single user rejudge {% endblock %}
{% block content %}
{% load static %}

<br><br>

    <div class="row">
        <div class="col-md-4" style="margin-left:5%;">
            <table style="font-size:15px; width:100%;" class="table">
                
                {% if submit.0.team %}
                <tr>
                    <td style="width:30%;"> <strong>Username: </strong></td>
                    <td style="width:70%;"> {{submit.0.team.username}} </td>
                </tr>
                {% else %}
                    <tr>
                        <td style="width:30%;"> <strong>Username: </strong></td>
                        <td style="width:70%;"> {{submit.0.user.username}} </td>
                    </tr>
                {% endif %}
 
                <tr>
                    <td style="width:30%;"> <strong>Contest: </strong></td>
                    <td style="width:70%;"> {{submit.0.contest.title}} </td>
                </tr>
                <tr>
                    <td style="width:30%;"> <strong>Problem: </strong></td>
                    <td style="width:70%;"> {{submit.0.problem.title}} </td>
                </tr>
                
            </table>

            <button class="btn btn-primary" onclick="startRejudge()" style="float: left;margin-top:30px;margin-bottom:30px; width: 200px;">start rejudging</button>

        </div>
        <br><br>
        <div class="col-md-6" style="margin-left:5%;" id="submission_view">

            <table class="table table-light" >
                <thead>
                <tr>
                    <th style="width: 10%;"><strong>SID</strong></th>
                    <th style="width: 30%;"><strong>time</strong></th>
                    <td style="width: 25%;"><strong>language</strong></td>
                    <td style="width: 25%;"><strong>result</strong></td>
                    <td style="width: 10%;"><strong>detail</strong></td>
                 </tr>
                </thead>
                {% for i in submit %}
                        <tr class="submit" id="{{i.id}}">
                            <td style="width: 10%;">{{i.id}}</td>
                            <td style="width: 30%;">{{i.submit_time}}</td>
                            <td style="width: 25%;">{{i.language}}</td>
                            {%if i.result == 'Correct'%}
                                <td style="width: 25%;color:green;" class="result" id="result-{{i.id}}">{{i.result}}</td>
                            {%else%}
                                <td style="width: 25%;color:red;" class="result" id="result-{{i.id}}">{{i.result}}</td>
                            {%endif%}
                            <td style="width: 10%;" >
                                <a href="{% url 'submission_detail' i.id %}" title="detail"> <img src="{% static 'Images/icons/view_detail.png' %}" height="20" width="20"></a>
                            </td>
                            
                        </tr>
                {% endfor %}
            </table>
        </div>
    </div>    
    
    <script>
        function startRejudge(){
            var i, all_results, all_rows, submit_id, row_id, result, result_id;
            all_rows = document.getElementsByClassName("submit");
            // console.log(document.getElementsByClassName("result"));
            all_results = document.getElementsByClassName("result");
            for (i=0; i<all_results.length; i++){
                all_results[i].style.color = "gray";
                all_results[i].innerText = "pending ...";
                // console.log(all_results[i]);
            }
            
            for (i=0; i<all_rows.length; i++){
                submit_id = all_rows[i].id;
                reJudge(submit_id);
                
            }
        }

        function reJudge(submit_id){
            var total_submit = new Array();
            total_submit[0] = submit_id;
            var result_id = "result-"+submit_id;
            var this_row = document.getElementById(submit_id);
            var this_row_result = document.getElementById(result_id);
            $.ajax({ 
                url:"{% url 'ajax_rejudge' %}",
                data:{
                    'total_submit[]': total_submit,
                },
                success: function(data){
                    var result = data["result"][submit_id];
                    this_row_result.innerText = result;
                    if (result == "Correct"){
                        this_row_result.style.color = "green";
                    }
                    else{
                        this_row_result.style.color = "red";
                    }
                    this_row.style.backgroundColor ="#7af0dc";
                }
            }); 
        }
    </script>
{% endblock %}
